.about-navs a :hoover {
    color: #0D1EC6;
  }

  .about-navs a {
    text-decoration: none;
  
}

  body {
    background-color:white;
    margin-left: 3px;
    margin-right: 3px;
}

#container {
  font-size: 20px;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px ;
  margin-top: 20px;
  margin-bottom: auto;

}

h1{
  font-size: 48px;
  text-align: center;
  text-decoration: underline;
}

.header h1{
  font-size:190px;
  text-align: center;
  text-decoration: underline;
}