

  body {
    background-color:white;
    margin-left: 10px;
    margin-right: 10px;
}

#container {
  font-size: 20px;
  text-align: left;
  margin-left: 25px;
  margin-right: 2px ;
  margin-top: 20px;
  margin-bottom: auto;
}

.h1{
  font-size: 48px;
  text-align: left;
  text-decoration: none;
}

.header h1{
  float: left;;
  font-size:50px;
  text-align: left;
  text-decoration: none;
  margin-left: 0rem;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
#button  {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
#button a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}


#row_one p{
  font-size: 20px;

}
