<!DOCTYPE html>
<html>
<head>
<title>Forum Topics</title>
</head>
<body>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
 
  
  <div class="jumbotron text-center">
    <h1>What do you need <span style="color:red">help</span> with, we are here for you.</h1>
    <p>All the helpline and resources tailored for you..</p> 
  </div>
    
  <p>
here is what we will put idek some more words and more nice words about keep yur mind peace and blah blah blah but uknow in a nice way
  </p>


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
    
        <div style="background-color:rgb(121, 160, 204);color:white;padding:0.2px;"></div>
        <a href="https://www.nhs.uk/oneyou/every-mind-matters/anxiety/?WT.tsrc=Search&WT.mc_id=Anxiety&gclid=CjwKCAjw1v_0BRAkEiwALFkj5p-DfOmdl0xHEq4ZTCKaF5bFdY-0PySpSG42yL9pNaqT7bZcSJ12NRoCjKIQAvD_BwE" target="_self">    <h3>Anxiety</h3> </a> 
        <p>Anxiety is common when there is stress and coronavirus, trust me.</p>
        <p>Just give it time...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>











</body>
</html>