.about-navs a :hoover {
    color: #0D1EC6;
  }

  .about-navs a {
    text-decoration: none;
  
}

  body {
    background: rgb(228, 219, 221) ;
    background-repeat: repeat;
    margin-left: 5px;
    margin-right: 5px;
}

#container {
  font-size: 20px;
  text-align: left;
  margin-left: 220px;
  margin-right: 320px ;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Oleo Script',;

}

h1{
  font-size: 48px;
  text-align: center;
  color: cornflowerblue;
}

.header h1{
  font-size:190px;
  text-align: center;
  color: cornflowerblue;
}
.footer {
  background-color: lightblue;
}
/*for the button*/

.floating-button{
  position:fixed;
  font-size: 40px;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
  background-color:cornflowerblue;
  border-color: cornflowerblue;
	color:#FFF;
	border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.my-float{
  margin-top:10px;

}




body {
  background-color:white;
  margin-left: 10px;
  margin-right: 10px;
}

#container {
font-size: 20px;
text-align: left;
margin-left: 25px;
margin-right: 5px ;
margin-top: 20px;
margin-bottom: auto;
}

.h1{
font-size: 48px;
text-align: center;
text-decoration: none;
}

.header h1{
font-size:190px;
text-align: center;
text-decoration: underline;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
#button  {
position: fixed;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

/* Style the icon bar links */
#button a {
display: block;
text-align: center;
padding: 16px;
transition: all 0.3s ease;
color: white;
font-size: 20px;
}

question_nav {
      text-decoration: none;
      color: aliceblue;
}

form_box{
  width: 75%
  padding:200px;
  ;
}
