<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- stylesheets -->
<link rel="stylesheet" href="../static/css/stylesheet0.css">
<link rel="stylesheet" href="../static/css/maia.css">
<link rel="stylesheet" type="text/css" href="../css/maia.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- scripts-->
<script src="../static/js/appjavascript0.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- title: CHANGE ME -->
    <title>About</title>
    </head>

  
  <body>
       <!-- Code for button -->
       <a  onclick=event.preventDefault();window.location.replace(href="/error_404_display") href="/error_404_display" class="floating-button">
        <b class="fa my-float">!</b> </a>
      <!-- end of button code-->   
    

  <!-- code for header and navbar-->       
    <div id="banner">
              <style>
                  div.background {
                    background-image: url(../static/images/Maiabanner.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: 2px;
                    padding: 198px;
                  }
                  
                  div.transbox {
                    margin: 40px;
                    padding: 5px;
                    border: 1px white;
            
                  }
                  div.transbox h1 {
                    margin: 5%;
                    font-weight: bold;
                    color: #000000;
                    font-size: 50px;
                    text-align: center;
                    font-weight: bold;
                  }
              </style>
          
                  <div class="background">
                      <div class="Header">
                      <h1> </h1>
                  </div>
                  </div>
                  
                  <!--nav bar-->
                  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
                    <a class="navbar-brand" href="/">Maia</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about">About us<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/identify_it">What is domestic abuse?</a>
                        </li>
                        <li class="nav-item dropdown active">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Get help
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/resources">I don't know where to look</a>
                            <a class="dropdown-item" href="/resources_list">Full list of organisations</a>
                          </div>
                          
                        </li>
                          </div>
                          <form id="frmSearch" class="search2" method="get" action="default.html" autocomplete="off" />
                          <input class="search2" autocomplete="off" id="txtSearch" type="text" name="serach_bar" size="31" maxlength="255"       
                          value="" style="left: 396px; top: 153px; width: 253px; height: 26px;" />
                          <input class="search1" autocomplete="off" type="submit" name="submition" value="Search" style=" padding- bottom: 20px; left: 691px; top: 153px; height: 23px;" />
                          <input class="search2" type="hidden" name="sitesearch" value="default.html" />
        
                          <script type="text/javascript">
                            document.getElementById('frmSearch').onsubmit = function() {
                                window.location = 'http://www.google.com/search?q=site:google.com ' + document.getElementById('txtSearch').value;
                                return false;
                            }
                          </script></form>
                        </li>
                      </ul>
                    </div>
            </div>
          </nav>
        </div>
        
      </li>
        </div>
      </li>
    </ul>
</div>
</nav>
</div>



        <h1>About Maia</h1>
          
      <!--sidebar-->
      <div class="row">
        <div class="col-md-8" id="main-content">
          <div class="women">
            <img src="../static/images/women.jpg" alt="Domestic Wheel" width="800px" height="800px">
          </div>
          

          </div id="vision">
          <div class="col-md-3" id="sidebar  font-size-20px">
            <h2><i>The Vision</i></h2>
            <p>
              We believe everyone should not be deprieved of their happiness. We all deserve happiness in
              the way we perceive happiness us. Unfortunately, due to circumstances we have found ourselves in,
              many of us do not remember when we last smiled with the very person whom we once loved. Our vision 
              is to create a safe space for many who have find themselves on this journey, either at the beginning,
              being going through it for some time, or have com to a decision to make a very hard decision to not 
              endure this any further.
              </p>
          </div>

              <div id="about">
                <div class="row_one">
                    <div class="col-md-10" id="main-content font-size:20px">
                      <p>
                        The meaning of Maia is mother, and pronounced as <i>"My-ah"</i>. Mothers are known to be caring, loving, kind, compassionate,
                        protectors, filled with love and wisdom, but not just that alone. They are that and very <strong>courageous</strong> and <strong>strong</strong>. 
                        As women, with or without a child, we bare these characteristics and hence this page bared the name Maia. Our hope is that
                        one through this platform, you will gain a sense of support and remember that you are not and do not have to 
                        ride these tides alone. 
                      </p>
          </div>
        </div>


              <div class="col-md-11">
              <img width="600px" height="600px"  src="../static/images/my_story.jpg" alt="story" style="vertical-align:middle">
              
                <p>There is a community of sisters, of friends, of families out there who have rode the wave in front of you
                  and some who will want to hear your story of how you overcame. We are here to <strong><i>listen, share,advice and or be a friends</i></strong>
                  to you at this time in your life.</p>
                <footer><cite title="Source Title">Before we can come closer to resolving an issue, we must first identify that there is an issue.</cite></footer>
              
              <p>

                <br>
                <i>It is still an abuse if..</i>

                <strong>incidents of physical abuse seem minor</strong> when compared to those you have read about, seen on television, or heard other people talk about. There isn’t a “better” or “worse” form of physical abuse; severe injuries can result from being pushed, for example.<br>

                <strong>The incidents of physical abuse have only occurred one</strong> or two times in the relationship. Studies indicate that if your spouse/partner has injured you once, it is likely that the person will continue to physically assault you.<br>

                <strong>The physical assaults stopped</strong> when you became passive and gave up your right to express yourself as you desire, to move about freely and see others, and to make decisions. It is not a victory if you have to give up your rights as a person and a partner in exchange for ending the assault!<br>

                <strong>Physical violence has not occurred.</strong> The majority are emotionally and verbally assaulted. This can be just as frightening and is often more confusing to try to understand.


              </p> 
              </div>
              

  </div>
</div>

<br>


        
                <!-- Footer -->
                <div id="footer">
                  <footer class="page-footer bg-info font-small text-white pt-2">
                            <!-- Footer Links -->
                            <div class="container-fluid text-center text-md-left">
                          
                              <!-- Grid row -->
                              <div class="row">
                          
                                <!-- Grid column -->
                                <div class="col-md-6 mt-md-0 mt-3">
                                  <!-- Content -->
                                  <h5 class="text-uppercase"><strong>Maia</strong></h5>
                                  <p class="small"><i>We Are All Here With You.</i></p>
                                </div>
                                <!-- Grid column -->
                                <hr class="clearfix w-100 d-md-none pb-3">
                                <!-- Grid column -->
                                <div class="col-md-3 mb-md-0 mb-3">
                                  <!-- Links -->
                                
                          
                                  <ul class="list-unstyled text-uppercase">
                                    <li>
                                      <a href="/resources">Resources</a>
                                    </li>
                                  </ul>
                                </div>
                                <!-- Grid column -->
                        
                              
                          </div>
                          
                            <!-- Copyright -->
                            <div class="footer-copyright text-center py-3"><p>© 2020 Copyright:</p>
                              <a href="/">Maia</a>
                            </div>
                           
                          
                  
                </div>               
                <!-- Code for link to error page -->
                  <div>
                    <a onclick=event.preventDefault();window.location.replace(href="/error_404_display") href="/error_404_display">
                      <p>Click here to hide the page. You will not be able to press back to return here.</p>
                    </a>   
                  </div>
                </footer>
                </div>               
                </div></body>
                </html>