<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
           
       <!-- stylesheets -->
           <link rel="stylesheet" href="../static/css/stylesheet0.css">
               
           <!-- bootstrap stylesheet -->
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          
       <!-- scripts -->
           <script src="../static/js/appjavascript0.js"></script>
   
           <!-- bootstrap scripts-->
           <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
           
       <!-- title: CHANGE ME -->

        <title>Code of Conduct</title>
    </head>
    <body>
        <h1>Code of conduct</h1>
        <div><p>Please see below our Code of Conduct.
            <br>
            Maia is a free tool, open to all to anonymously seek help and guidance, and share experiences. We ask that you follow these rules to ensure this space is safe for all users.
            <ul>
                <li><b>Stay anonymous.</b> Do not try to identify people, and be careful about sharing information which could identify yourself. This is a forum anyone and everyone can access, as anyone can be a victim of domestic abuse. However, this means that we are not gated.</li>
                <li><b>Be respectful.</b> We will not tolerate any abuse - be it racism, sexism, homophobia or another form of discrimination - or rudeness. We do not permit swearing or hate speech on our website, and ask that our users report any they come across.</li>
                <li>While <b>a problem shared is a problem halved</b>, we know that there is always a chance that asking others to contibute can exacerbate distress. Please support each other, and think respectfully about the advice you are about to give, or thoughts you are sharing. Will this cause further distress to others? </li>
            </ul>
        </p></div>
    </body>
    <footer>

    </footer>
</html>