  
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/maia.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="../static/js/appjavascript0.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/maia.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
 



        <!--banner-->
<body>
               
    <div id="banner">
              <style>
                  div.background {
                    background-image: url(../static/images/strong.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    border: 2px;
                    padding: 30px;
                  }
                  
                  div.transbox {
                    margin: 40px;
                    padding: 5px;
                    
                    border: 1px white;
            
                  }
                  div.transbox h1 {
                    margin: 5%;
                    font-weight: bold;
                    color: #000000;
                    font-size: 50px;
                    text-align: center;
                    font-weight: bold;
                  }
                  </style>
          
                  <div class="background">
                      <div class="Header">
                      <h1> Maia</h1>
                  </div>
                  </div>
                  
                  <!--nav bar-->
                  <nav class="navbar navbar navbar-expand-lg navbar-light"
                   sticky-top >
                    <a class="navbar-brand" href="#">Maia</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Resources Page</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Others
                            </a>
                            
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="#">Code of Conduct</a>
                              <a class="dropdown-item" href="#">Privacy Policy</a>
                            </div>
                          </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Forum
                          </a>
                          
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Forum Questions</a>
                            <a class="dropdown-item" href="#">Forum Chat Room</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </nav>
                 
<!-- Code for button -->
<a  onclick=event.preventDefault();window.location.replace(href="Error_404_Display.html") href="Error_404_Display.html" class="floating-button">
  <b class="fa fa-plus my-float">!</b> </a>   
<!-- end of button code-->
    <div id=container color="white">

        <div class="home">
            <h1>Homepage</h1>
        </div>

        <div id="about-intro"> 
            <div class="aboutpic">
                <img src="../image/.png">
            </div>
            
        <div class="aboutmaia">
            
            <p>Welcome to Maia meaning: <i>Mother</i>! </p>
            
            <p>
                This will be the main content- who maia is, what we do, how we help<br>
                 <i>etc</i>.<br>
                <br>
                <br>
                If you are ready, then come explore...
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
                <br>[Testing text]
            </p>
        </div> 


          <div class="footer">
              <footer>
                Coding with real ❤️ </footer>
                
<!-- Code for link to error page -->
<div>
  <a  onclick=event.preventDefault();window.location.replace(href="Error_404_Display.html") href="Error_404_Display.html">
    <p>Click here to hide the page. You will not be able to press back to return here.</p>
    </a>   
  </div>
                
                </div></body>
                </html>