<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
           
       <!-- stylesheets -->
       <link rel="stylesheet" href="../static/css/maia.css">
               
           <!-- bootstrap stylesheet -->
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          
       <!-- scripts -->
           <script src="../static/js/appjavascript0.js"></script>
   
           <!-- bootstrap scripts-->
           <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
           
       <!-- title: CHANGE ME -->

        <title>Resources</title>
    </head>
    <body>
         
  <div class="jumbotron text-center">
    <h1>What do you need <span style="color:red">help</span> with, we are here for you.</h1>
    <p>All the helpline and resources tailored for you..</p> 
  </div>
    
  <p>
here is what we will put idek some more words and more nice words about keep yur mind peace and blah blah blah but uknow in a nice way
  </p>


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
    
        <div style="background-color:rgb(121, 160, 204);color:white;padding:0.2px;"></div>
        <a href="https://www.nhs.uk/oneyou/every-mind-matters/anxiety/?WT.tsrc=Search&WT.mc_id=Anxiety&gclid=CjwKCAjw1v_0BRAkEiwALFkj5p-DfOmdl0xHEq4ZTCKaF5bFdY-0PySpSG42yL9pNaqT7bZcSJ12NRoCjKIQAvD_BwE" target="_self">    <h3>Anxiety</h3> </a> 
        <p>Anxiety is common when there is stress and coronavirus, trust me.</p>
        <p>Just give it time...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 2</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3>Column 3</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
    </body>
    <footer>

    </footer>
</html>