<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
           <meta charset="utf-8">
           <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <!-- stylesheets -->
       <link rel="stylesheet" href="../static/css/maia.css">
           <!-- bootstrap stylesheet -->
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
           <script src="../static/js/appjavascript0.js"></script>
           <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
       <!-- title: CHANGE ME -->
        <title>Resources</title>
    </head>

    <body>
<!-- Code for button -->
    <a  onclick=event.preventDefault();window.location.replace(href="Error_404_Display.html") href="Error_404_Display.html" class="floating-button">
      <b class="fa my-float">!</b> </a>
    <!-- end of button code-->
        <div id="banner">
            <style>
                div.background {
                  background-image: url(../images/strong.jpg);
                  background-repeat: no-repeat;
                  background-size: cover;
                  border: 2px;
                  padding: 30px;
                }
                
                div.transbox {
                  margin: 40px;
                  padding: 5px;
                  
                  border: 1px white;
          
                }
                div.transbox h1 {
                  margin: 5%;
                  font-weight: bold;
                  color: #000000;
                  font-size: 50px;
                  text-align: center;
                  font-weight: bold;
                }
                </style>
        
                <div class="background">
                    <div class="Header">
                    <h1> Maia</h1>
                </div>
                </div>
                
                <!--nav bar-->

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand" href="#">Navbar</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </nav>

        <h1>Resources</h1>
        <div id="AboutResources"></div>
		
		<!--This Section is to list all services available natiowide across the UK-->
		<div id="NationwideSection">
		<p>Services available UK Nationwide:</p>
		<p>
			<a href="https://www.nationaldahelpline.org.uk/"> <strong>National Domestic Abuse Helpline</strong></a>
		</p>
		</div>
		
		<!--This Section is to list all services available only in Scotland-->
		<div id="ScotlandSection">
			<p>Scotland:</p>
			<p>
			<a href="https://breathingspace.scot/"> <strong>Breathing Space</strong></a>
			</p>
		</div>
		
		<!--This Section is to list all services available only in England-->
		<div id="EnglandSection">
			<p>England:</p>
		</div>
		
		<!--This Section is to list all services available only in Wales-->
		<div id="WalesSection">
			<p>Wales:</p>
			<p>
			<a href="https://gov.wales/live-fear-free"> <strong>Wales Live Fear Free Helpline</strong></a>
			</p>
		</div>
		
		<!--This Section is to list all services available only in Northern Ireland-->
		<div id="NISection">
			<p>Northern Ireland:</p>
			<p>
			<a href="https://belfastdvp.co.uk/"> <strong>Domestic & Sexual Violence and Abuse Partnership</strong></a>
			</p>
			<p>
			<a href="https://www.womensaidni.org/"> <strong>Women's Aid Federation Northern Ireland</strong></a>
			</p>
		</div>
		
		<p>
		
		
		
		</p>
		
		
		
    </body>
    <footer>

    </footer>
</html>
