<!-- at the top of every HTML page -->
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <!-- stylesheets-->
        <link rel="stylesheet" href="../static/css/maia.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!--script for javascript-->
        <script src="../static/js/appjavascript0.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/maia.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
 <body>
  <banner>
      <!-- insert navbar/etc-->
  </banner>
       <!-- Code for button -->
       <a  onclick=event.preventDefault();window.location.replace(href="Error_404_Display.html") href="Error_404_Display.html" class="floating-button">
        <b class="fa my-float">!</b> </a>
      <!-- end of button code--> 

<!--insert page content-->

<!--footer-->
    <div class="footer">
        <footer>
          Coding with real ❤️ </footer>
          
<!-- Code for link to error page -->
<div>
<a  onclick=event.preventDefault();window.location.replace(href="Error_404_Display.html") href="Error_404_Display.html">
<p>Click here to hide the page. You will not be able to press back to return here.</p>
</a>  
<!-- end of code for link to error page--> 
</div>  
          </div>
        </body>
          </html>